# Daily Python Programs

**Q) Print numbers from 1 to n using recursion.**

In [5]:
def numbers(n):
    if n == 0:
        return 0
    numbers(n-1)
    print(n)
numbers(10)

1
2
3
4
5
6
7
8
9
10

**Q) Write a recursive function to count how many digits are in a number**

In [18]:
def count_digits(n):
    if n == 0:
        return 0
    return 1 + count_digits(n // 10)
print(count_digits(12345))

5

**Q) Write a lambda to return the last character of a string**

In [ ]:
last_char = lambda s: s[-1]
print(last_char("Akash"))

**Q) Use map() to find the length of each word in a sentence**

In [23]:
n= "Hi there"
length = list(map(len, n.split()))
print(length)

[2, 5]

**Q) Use map() with a lambda to add 10 to each number in a list**

In [27]:
def add(n):
    return n + 10

n = [1, 2, 3, 4, 5]
a = list(map(add,n))
print(a)

[11, 12, 13, 14, 15]

**Q) Use filter() to get numbers greater than 50 from a list**

In [29]:
def is_greater(n):
    return n > 50

n = [10, 55, 60, 42, 90]
filtered = list(filter(is_greater, n))
print(filtered)

[55, 60, 90]

**Q) Use reduce() to find the maximum value in a list**

In [33]:
from functools import reduce

def max(a, b):
    return a if a > b else b

n = [5, 8, 12, 99, 23, 7]
maxi = reduce(max, n)
print(maxi)

99

**Q) Write a Python program that takes a string from the user and prints the number of characters in it.**

In [35]:
n=input("Enter a string")
length=len(n)
print("The length of string is ",length)

Enter a string akash

The length of string is  5

**Q) Take a string from the user and print its first and last characters**

In [37]:
n = input("Enter a string")
print("First letter: ",n[0],", Last digit: ",n[-1])

Enter a string akash

First letter:  a , Last digit:  h

**Q) Take a string and check if it contains only digits**

In [49]:
n=input("Enter a string")

if n.isdigit():
    print("This string contains only digits")
else:
    print("This string does not contains only digit")

Enter a string 1234d

This string does not contains only digit

**Q) Take a string and a character from the user. Count how many times the character appears in the string.**

In [55]:
n=input("Enter a string")
c=input("Enter a character you want to count in given string")

cout=n.count(c)
print("The character ",c," in the string ",n," is present ",cout," times")

Enter a string akash
Enter a character you want to count in given string a

The character  a  in the string  akash  is present  2  times

**Q) Take a sentence, a word to replace, and the new word from the user. Replace it in the sentence**

In [59]:
n=input("Enter a sentence: ")
new=input("Enter a new word to replace: ")
old=input("Enter a word to replace with: ")

sentence=n.replace(old,new)
print(sentence)

Enter a sentence:  hii my name is akash
Enter a new word to replace:  sky
Enter a word to replace with:  akash

hii my name is sky

**Q) Take a string and print it in reverse order.**

In [65]:
n=input("Enter a string: ")
print(n[::-1])

Enter a string:  akash

hsaka

**Q) Take a comma-separated string from the user and split it into a list.**

In [67]:
n=input("Enter a comma seperated list: ")
items= list(map(str.strip, n.split(',')))
print(items)

Enter a comma seperated list:  apple,banana,mango,graphs

['apple', 'banana', 'mango', 'graphs']

**Q) Take a string input and check whether it is a palindrome (same forward and backward)**

In [71]:
n=input("Enter a string: ")
rev=n[::-1]

if n==rev:
    print("The string is Palindrome")
else:
    print("The string is not Palindrome")

Enter a string:  abcba

The string is Palindrome

**Q) Take first name and last name from the user, and print a username in the format firstname.lastname (all lowercase).**

In [91]:
first=input("Enter 1st name of user: ").lower()
last=input("Enter Last name of user: ").lower()
print(f"{first}.{last}")

Enter 1st name of user:  Akash
Enter Last name of user:  Deshmukh

akash.deshmukh

**Q) Take an email address from the user and extract the domain name (text after the @)**

In [93]:
email = input("Enter your email address: ")
if "@" in email:
    domain = email.split('@')[1]
    print("Domain name is:", domain)
else:
    print("Invalid email address. '@' symbol not found.")

Enter your email address:  deshmukh@akash

Domain name is: akash

**Q) Take a list of integers from the user and a new number to add. Append it to the list and print the result.**

In [1]:
user_input = input("Enter a list of integers separated by spaces: ")
int_list = list(map(int, user_input.split()))

new_number = int(input("Enter a number to append: "))

int_list.append(new_number)

print("Updated list:", int_list)

Enter a list of integers separated by spaces:  2 4 6 7 8
Enter a number to append:  9

Updated list: [2, 4, 6, 7, 8, 9]

**Q) Take comma-separated input from the user and store it as a tuple. Print the tuple**

In [3]:
n=input("Enter comma seperated text: ")
tup= tuple(n.split(","))
print(tup)

Enter comma seperated text:  Akash,Deshmukh,007

('Akash', 'Deshmukh', '007')

**Q) Take a list from the user and convert it into a tuple.**

In [7]:
n=input("Enter a list: ")
n1=tuple(n.split())
print(n1)

Enter a list:  akash deshmukh

('akash', 'deshmukh')

**Q) Take a list of numbers from the user and print the total sum.**

In [15]:
n=input("Enter list of numbers seperated by space: ")
l=list(map(int,n.split()))
add=sum(l)
print(add)

Enter list of numbers seperated by space:  2 3 4 5

14

**Q) Remove all duplicate values from a list and print the unique elements.**

In [17]:
n=input("Enter list: ")
l=n.split()
unique=list(set(l))
print(unique)

Enter list:  akash deshmukh akash 007 deshmukh

['deshmukh', '007', 'akash']

**Q) Take a tuple from the user, convert it to a list, add a new item, and convert it back to a tuple.**

In [19]:
user_input = input("Enter tuple elements separated by commas: ")
original_tuple = tuple(user_input.split(','))
temp_list = list(original_tuple)
new_item = input("Enter a new item to add: ")
temp_list.append(new_item)
updated_tuple = tuple(temp_list)
print("Updated tuple:", updated_tuple)

Enter tuple elements separated by commas:  0,7,6,5,4
Enter a new item to add:  1

Updated tuple: ('0', '7', '6', '5', '4', '1')

**Q) Take two sets from the user and print: Union, Intersection**

In [21]:
set1_input = input("Enter elements of the first set (comma-separated): ")
set2_input = input("Enter elements of the second set (comma-separated): ")

set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

union_result = set1.union(set2)
intersection_result = set1.intersection(set2)

print("Union:", union_result)
print("Intersection:", intersection_result)

Enter elements of the first set (comma-separated):  2,3,4,5,6
Enter elements of the second set (comma-separated):  1,3,5,6

Union: {'2', '4', '6', '1', '5', '3'}
Intersection: {'6', '5', '3'}

**Q) Take a list with repeated elements and remove duplicates using a set.**

In [23]:
n=input("Enter list of repeated elements(comma seperated): ")
res=set(n.split(","))
print(res)

Enter list of repeated elements(comma seperated):  2,3,4,5,6,3,2,5

{'2', '4', '6', '5', '3'}

**Q) Take two dictionaries and merge them**

In [31]:
dict1 = {"Math": 85, "Science": 90}
dict2 = {"English": 88, "History": 76}

dict1.update(dict2)

print(dict1)

{'Math': 85, 'Science': 90, 'English': 88, 'History': 76}

**Q) Write a program to read 3 sentences from the user and return a set of all unique words (case-insensitive).**

In [25]:
n1=input("Enter 1st sentence: ").lower()
n2=input("Enter 2nd sentence: ").lower()
n3=input("Enter 3rd sentence: ").lower()

n4=n1+" "+n2+" "+n3
res=set(n4.split())
print(res)

Enter 1st sentence:  hello my name is sky
Enter 2nd sentence:  hello sky
Enter 3rd sentence:  hey sky my name is akash

{'hello', 'my', 'hey', 'name', 'is', 'akash', 'sky'}

**Q) Create a nested dictionary where keys are student names and values are another dictionary with subject:marks pairs.
Then print the average marks of each student.**

In [29]:
students = {
    "Akash": {"Math": 85, "Science": 90, "English": 88},
    "Sky": {"Math": 78, "Science": 82, "English": 80},
}
for student, subjects in students.items():    
    total_marks = sum(subjects.values())       
    num = len(subjects)
    average = total_marks / num
    print(f"{student}'s average marks: {average:.2f}")

Akash's average marks: 87.67
Sky's average marks: 80.00

**Q) Given a list of dictionaries, merge them into one and sum values for keys that appear multiple times.**

In [35]:
lists = [
    {'a': 10, 'b': 5},
    {'a': 3, 'c': 8},
    {'b': 2, 'd': 4},
    {'c': 7, 'a': 1}
]
merged_dict = {}

for dicts in lists:
    for key, value in dicts.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

print("Merged dictionary with summed values:")
print(merged_dict)

Merged dictionary with summed values:
{'a': 14, 'b': 7, 'c': 15, 'd': 4}

**Q)Write a Python program that takes a password as input and checks if it meets the following requirements:**

- The password should be at least 8 characters long.
- The password should contain at least one uppercase letter.
- The password should contain at least one lowercase letter.
- The password should contain at least one digit.

**If the password meets all the requirements, the program should print "Password is valid." Otherwise, it should print "Password is invalid."**

In [19]:
n=input("Enter a password (containing 1 Capital letter, 1 small letter and any number in it) : ")
upp=False
low=False
dig=False
for i in n:
    if i.isupper():
        upp=True
    elif i.islower():
        low=True
    elif i.isdigit():
        dig=True

if upp and low and dig and len(n) >= 8:
    print("Password is valid")
else:
    print("Password is invalid")

Enter a password (containing 1 Capital letter, 1 small letter and any number in it) :  akash

Password is invalid

**Q) Write a Python program that takes two strings as input and checks 
if they're anagrams (i.e., the strings contain the same characters, 
but in a different order). If the strings are anagrams, 
the program should print "The strings are anagrams." Otherwise, 
it should print "The strings are not anagrams."**

In [31]:
str1=input("Enter 1st string: ").lower()
str2=input("Enter 2nd string: ").lower()
if sorted(str1) == sorted(str2):
    print("The strings are Anagrams")
else:
    print("The strings are not anagrams")

Enter 1st string:  akash
Enter 2nd string:  akashs

The strings are not anagrams

**Exception Handling**

In [80]:
try:
    a=int(input("Enter a number: "))
    b=int(input("Enter 2nd number: "))
    print(a/b)
except(ValueError,ZeroDivisionError) as e:
    print("Error: ",e)

Enter a number:  f

Error:  invalid literal for int() with base 10: 'f'

**Q) User has ₹5,000 in balance. Ask how much to withdraw. Handle non-numeric input and insufficient balance.**

In [96]:
bal=5000
try:
    a=int(input("Enter the amount you want to withdraw: "))
except(ValueError) as e:
    print("Please enter integer number")

if a> bal:
    print("insufficient balance")
else:
    print("Money diducted, available balance is: ",bal-a)

Enter the amount you want to withdraw:  5001

insufficient balance

**Q) Ask the user to enter a number. Convert it to an integer, but handle invalid values like alphabets or floats.**

In [105]:
try:
    n=int(input("Enter a number: "))
    print("The integer number is: ",round(n))
except(ValueError):
    print("Enter Integer value")

Enter a number:  12.5

Enter numeric value invalid literal for int() with base 10: '12.5'

**Q) Ask the user to enter an email. Raise an exception if it doesn’t contain “@” or “.”.**

In [118]:
try:
    email = input("Enter your email: ")
    if "@" not in email or "." not in email:
        raise ValueError("Invalid email: must contain '@' and '.'")
    print(f"Valid email entered: {email}")
except ValueError as e:
    print(e)

Enter your email:  deshmukh@gmail.com

Valid email entered: deshmukh@gmail.com

**Q) Ask user for hours worked and hourly wage. If hours are more than 24 or negative, raise an error.**

In [125]:
try:
    hrs=int(input("Enter hours they worked: "))
    hrs_wage=int(input("Enter hourly wage: "))
    if hrs>24 or hrs<0:
        raise ValueError("Invalid hrs, Enter hrs between 0-24")
    print("Total Pay :",hrs*hrs_wage)
except(ValueError):
    print("Enter hrs in integer")

Enter hours they worked:  3
Enter hourly wage:  90

Total Pay : 270

**Q) Simulate a login system with a predefined username and password.**

In [51]:
while True:
    username=input("Enter username: ").lower()
    n=input("Enter a password (containing 1 Capital letter, 1 small letter and any number in it) : ")
    
    upp=False
    low=False
    dig=False
    for i in n:
        if i.isupper():
            upp=True
        elif i.islower():
            low=True
        elif i.isdigit():
            dig=True
    
    user="akash"
    pas="Akash123"
    if upp and low and dig and len(n) >= 8:
        if username == user:
            if n==pas:
                print("Username and Password Matched!!! Login successfull")
                break
            else:
                print("Username matched, enter password again")
        else:
            print("Username and password invalid")
    else:
        print("Password must contain 1 Capital letter, 1 small letter and any number")

Enter username:  akash
Enter a password (containing 1 Capital letter, 1 small letter and any number in it) :  Akash007

Username matched, enter password again

Enter username:  akash
Enter a password (containing 1 Capital letter, 1 small letter and any number in it) :  akash007

Password must contain 1 Capital letter, 1 small letter and any number

Enter username:  akash
Enter a password (containing 1 Capital letter, 1 small letter and any number in it) :  Akash123

Username and Password Matched!!! Login successfull

**Q) Python program to find cube of number entered by the user**

In [47]:
while True:
    try:
        n=int(input("Enter a number: "))
        if n<0:
            print("Enter value Greater than 0")
        else:
            print("Cube of",n,"is: ",n**3)
            break
    except(ValueError) as e:
        print(e)
        print("Enter integer value")

Enter a number:  e

invalid literal for int() with base 10: 'e'
Enter integer value

Enter a number:  -1

Enter value Greater than 0

Enter a number:  4

Cube of 4 is:  64

**Q) Take input of multiple students (name, marks in 3 subjects), calculate average, assign grade, and display a report card.**

In [54]:
def calculate_grade(avg):
    if avg >= 90:
        return 'A+'
    elif avg >= 80:
        return 'A'
    elif avg >= 70:
        return 'B'
    elif avg >= 60:
        return 'C'
    elif avg >= 50:
        return 'D'
    else:
        return 'F'
students = []
num_students = int(input("Enter number of students: "))

for i in range(num_students):
    print(f"\nEnter details for student {i+1}:")
    name = input("Name: ")
    marks = []
    for j in range(1, 4):
        mark = float(input(f"Enter marks for subject {j}: "))
        marks.append(mark)
    average = sum(marks) / 3
    grade = calculate_grade(average)
    students.append({"name": name, "marks": marks, "average": average, "grade": grade})

print("\n--- Report Card ---")
for student in students:
    print(f"\nName: {student['name']}")
    print(f"Marks: {student['marks']}")
    print(f"Average: {student['average']:.2f}")
    print(f"Grade: {student['grade']}")

Enter number of students:  2

Enter details for student 1:

Name:  Akash
Enter marks for subject 1:  90
Enter marks for subject 2:  23
Enter marks for subject 3:  67

Enter details for student 2:

Name:  Sky
Enter marks for subject 1:  90
Enter marks for subject 2:  78
Enter marks for subject 3:  45

--- Report Card ---

Name: Akash
Marks: [90.0, 23.0, 67.0]
Average: 60.00
Grade: C

Name: Sky
Marks: [90.0, 78.0, 45.0]
Average: 71.00
Grade: B

**Q) emperature Converter with Menu**

Convert:
- Celsius ↔ Fahrenheit
- Celsius ↔ Kelvin

 **Use functions and a looped menu for navigation.**

In [64]:
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32

def fahrenheit_to_celsius(f):
    return (f - 32) * 5/9

def celsius_to_kelvin(c):
    return c + 273.15

def kelvin_to_celsius(k):
    return k - 273.15

def show_menu():
    print("\n--- Temperature Converter ---")
    print("1. Celsius to Fahrenheit")
    print("2. Fahrenheit to Celsius")
    print("3. Celsius to Kelvin")
    print("4. Kelvin to Celsius")
    print("5. Exit")

while True:
    show_menu()
    choice = input("Enter your choice (1-5): ")

    if choice == '1':
        c = float(input("Enter temperature in Celsius: "))
        print(f"Temperature in Fahrenheit: {celsius_to_fahrenheit(c):.2f}°F")
    elif choice == '2':
        f = float(input("Enter temperature in Fahrenheit: "))
        print(f"Temperature in Celsius: {fahrenheit_to_celsius(f):.2f}°C")
    elif choice == '3':
        c = float(input("Enter temperature in Celsius: "))
        print(f"Temperature in Kelvin: {celsius_to_kelvin(c):.2f}K")
    elif choice == '4':
        k = float(input("Enter temperature in Kelvin: "))
        print(f"Temperature in Celsius: {kelvin_to_celsius(k):.2f}°C")
    elif choice == '5':
        print("Exiting Temperature Converter. Goodbye!")
        break
    else:
        print("Invalid choice. Please try again.")

--- Temperature Converter ---
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Celsius to Kelvin
4. Kelvin to Celsius
5. Exit

Enter your choice (1-5):  1
Enter temperature in Celsius:  40

Temperature in Fahrenheit: 104.00°F

--- Temperature Converter ---
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Celsius to Kelvin
4. Kelvin to Celsius
5. Exit

Enter your choice (1-5):  5

Exiting Temperature Converter. Goodbye!

**Q) Input a paragraph, clean it up, and count word frequency using a dictionary. Bonus: sort by frequency.**

In [69]:
import string

paragraph = input("Enter a paragraph:\n")

paragraph = paragraph.lower()
for char in string.punctuation:
    paragraph = paragraph.replace(char, "")

words = paragraph.split()

word_freq = {}
for word in words:
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1

sorted_items = []
for item in word_freq.items():
    sorted_items.append(item)

for i in range(len(sorted_items)):
    for j in range(i + 1, len(sorted_items)):
        if sorted_items[i][1] < sorted_items[j][1]:
            sorted_items[i], sorted_items[j] = sorted_items[j], sorted_items[i]

print("\n--- Word Frequency ---")
for word, freq in sorted_items:
    print(f"{word}: {freq}")

Enter a paragraph:
 hello everyone, my name is akash and i am going to be a data analyst

--- Word Frequency ---
hello: 1
everyone: 1
my: 1
name: 1
is: 1
akash: 1
and: 1
i: 1
am: 1
going: 1
to: 1
be: 1
a: 1
data: 1
analyst: 1